@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    outline: none;
}

/* src/App.css */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  